* {
  margin: 0;
  padding: 0;
}
/* Header */
.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  background-color: #f8db85;
  font-family: sans-serif;
}
.logo {
  width: 250px;
  margin-right: 100px;
}
.logo img {
  height: 150px;
}
.right-header {
  float: right;
}
.contact {
  display: flex;
  margin-bottom: 20px;
  height: 75px;
  align-items: center;
}
.cont {
  margin-right: 150px;
  display: flex;
}
.media i {
  color: #4a087d;
}
.icons {
  margin-right: 15px;
  padding-top: 5px;
  font-size: 25px;
  color: #4a087d;
}
.socials {
  margin-right: 30px;
  font-size: 25px;
  color: #4a087d;
}

.nav {
  height: 75px;
  align-items: center;
  background-color: #4a087d;
  padding-left: 80px;
  border-radius: 20px 0px 0px;
}
.nav ul {
  display: flex;
  list-style: none;
}
.nav ul li {
  margin-right: 100px;
  padding-top: 10px;
  padding-top: 25px;
}
.nav a {
  font-weight: 400px;
  text-decoration: none;
  color: #fff;
  font-size: 23px;
  font-family: sans-serif;
}
/* Header end */


